<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> {{pageTitle}} </title>
<head>
<body>
  <h1> {{pageTitle}} </h1>
  <h2> {{screamIt welcomeMessage }} </h2>
  <p> This is {{pageTitle}} </p>
  <a href="help.html">Help</a>


  {{> footer}}
</body>

</html>
